In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("general_data.csv")

In [3]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [4]:
# checking for null values
dataset.replace(to_replace=['NA',],value=[0],inplace = True)
dataset.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [5]:
# Dropping rows if any element of row has null value
dataset.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [6]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

> Now we go with our main objective to compare attrition with remaining fields

In [7]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [8]:
print("Attrition:",dataset.Attrition.unique())
print("BusinessTravel:",dataset.BusinessTravel.unique())
print("Department:",dataset.Department.unique())
print("EducationField:",dataset.EducationField.unique())
print("Gender:",dataset.Gender.unique())
print("JobRole:",dataset.JobRole.unique())
print("MaritalStatus:",dataset.MaritalStatus.unique())
print("Over18:",dataset.Over18.unique())

Attrition: ['No' 'Yes']
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department: ['Sales' 'Research & Development' 'Human Resources']
EducationField: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Gender: ['Female' 'Male']
JobRole: ['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Human Resources' 'Research Director' 'Laboratory Technician'
 'Manufacturing Director' 'Sales Representative' 'Manager']
MaritalStatus: ['Married' 'Single' 'Divorced']
Over18: ['Y']

In [9]:
dataset.replace(to_replace=['Yes','No'],value=[1,0],inplace = True)
dataset.replace(to_replace=['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'],value=[2,1,0],inplace = True)
dataset.replace(to_replace=['Sales', 'Research & Development', 'Human Resources'],value=[2,1,0],inplace = True)
dataset.replace(to_replace=['Life Sciences', 'Other', 'Medical', 'Marketing', 'Technical Degree',
 'Human Resources'],value=[5,4,3,2,1,0],inplace = True)
dataset.replace(to_replace=['Female', 'Male'],value=[1,0],inplace = True)
dataset.replace(to_replace=['Healthcare Representative', 'Research Scientist', 'Sales Executive',
 'Human Resources', 'Research Director', 'Laboratory Technician',
 'Manufacturing Director', 'Sales Representative', 'Manager'],value=[8,7,6,5,4,3,2,1,0],inplace = True)
dataset.replace(to_replace=['Married', 'Single', 'Divorced'],value=[2,1,0],inplace = True)
dataset.replace(to_replace=['Y', 'N'],value=[1,0],inplace = True)

In [10]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,1,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,1,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,1,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,1,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,1,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,2,1,5,4,3,1,4406,1,...,3.0,1,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,0,...,2.0,1,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,5,1,4408,0,...,0.0,1,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,0,...,0.0,1,14,8,1,10.0,2,9,7,8
4409,40,0,2,1,28,3,3,1,4410,0,...,0.0,1,12,8,0,NaN,6,21,3,9

In [11]:
from scipy.stats import pearsonr

In [12]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,1,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,1,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,1,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,1,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,1,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,2,1,5,4,3,1,4406,1,...,3.0,1,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,0,...,2.0,1,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,5,1,4408,0,...,0.0,1,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,0,...,0.0,1,14,8,1,10.0,2,9,7,8
4409,40,0,2,1,28,3,3,1,4410,0,...,0.0,1,12,8,0,NaN,6,21,3,9

In [13]:
dataset.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.000426,NaN,0.008649,0.039352,...,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.004352,NaN,-0.004729,-0.018125,...,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.037089,NaN,-0.002590,0.039243,...,-0.037597,0.022401,-0.031054,NaN,0.003683,0.033997,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,-0.057499,NaN,-0.003455,-0.003158,...,-0.032237,-0.003954,-0.007840,NaN,0.010512,-0.019839,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.001178,NaN,-0.001097,0.044173,...,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.017543,NaN,-0.009680,0.016547,...,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EducationField,0.000426,-0.004352,-0.037089,-0.057499,-0.001178,0.017543,1.000000,NaN,-0.002761,0.010672,...,0.019726,0.007455,0.037735,NaN,-0.016273,0.002833,0.025643,0.012227,-0.020704,0.023682
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.002590,-0.003455,-0.001097,-0.009680,-0.002761,NaN,1.000000,0.013165,...,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,0.039352,-0.018125,0.039243,-0.003158,0.044173,0.016547,0.010672,NaN,0.013165,1.000000,...,-0.007530,0.066924,-0.011841,NaN,-0.019237,0.027598,0.030167,0.017277,0.021812,-0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.006665,NaN,-0.003303,0.026854,...,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
JobRole,-0.022802,0.034487,-0.020821,0.019860,-0.006886,-0.031508,-0.004762,NaN,-0.001772,-0.029147,...,-0.009338,-0.021521,-0.017475,NaN,0.066036,-0.027319,0.001438,-0.013602,-0.016176,0.045974
MaritalStatus,0.035466,-0.011195,0.065731,-0.060591,0.023191,0.003470,0.040918,NaN,0.001013,0.037943,...,-0.005096,-0.031727,-0.011877,NaN,-0.029988,0.015187,-0.011060,0.014779,0.036876,0.013365
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.019726,NaN,0.007338,-0.007530,...,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,0.022401,-0.003954,-0.013843,-0.016250,0.007455,NaN,-0.001117,0.066924,...,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,0.037735,NaN,-0.004456,-0.011841,...,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,-0.016273,NaN,-0.014254,-0.019237,...,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.033997,-0.019839,0.009374,-0.010717,0.002833,NaN,-0.001063,0.027598,...,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,0.025643,NaN,-0.010191,0.030167,...,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.012227,NaN,0.004086,0.017277,...,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,-0.020704,NaN,0.000256,0.021812,...,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.023682,NaN,0.008579,-0.004438,...,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

In [14]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [15]:
stat1,p1=pearsonr(dataset.Attrition,dataset.Age)
print(stat1,p1)

-0.15920500686577965 1.996801615886744e-26

In [16]:
stat2,p2=pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stat2,p2)

-0.00973014101017966 0.5182860428050771

In [17]:
for i in dataset.columns :
    if i not in ['Attrition','EmployeeID','EmployeeCount','StandardHours','NumCompaniesWorked','TotalWorkingYears'] :
        temp,p = pearsonr(dataset.Attrition,dataset[i])
        print(i,end=": ")
        print(temp,p,end="\n\n")

Age: -0.15920500686577965 1.996801615886744e-26

BusinessTravel: 7.3776946022246e-05 0.9960919945437704

Department: -0.04820581991834007 0.0013638319632107141

DistanceFromHome: -0.00973014101017966 0.5182860428050771

Education: -0.015111167710968711 0.3157293177118575

EducationField: -0.004352147000822651 0.7726302938578954

Gender: -0.01812507887701024 0.22881970951795952

JobLevel: -0.010289713287495035 0.49451717271828405

JobRole: 0.034487411583342426 0.022005889877577078

MaritalStatus: -0.01119465180527657 0.45734541860131356

MonthlyIncome: -0.031176281698115007 0.03842748490600132

Over18: nan nan

PercentSalaryHike: 0.03253259489105351 0.030743386433355353

StockOptionLevel: -0.006838852403261521 0.6498072937475723

TrainingTimesLastYear: -0.04943057624425501 0.0010247061915362814

YearsAtCompany: -0.1343922139899772 3.1638831224877484e-19

YearsSinceLastPromotion: -0.03301877514258434 0.028330336189396753

YearsWithCurrManager: -0.15619931590162842 1.7339322652900218e-25

C:\Users\ManiShankar\Anaconda3\lib\site-packages\scipy\stats\stats.py:3399: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

- There is no field with perfect positive or negative correlation
- Since p of Age is < 0.05 H0 is rejected and can conclude they are correlated
- Since p of BusinessTravel is > 0.05 H0 is accepted i.e; both are correlated
- Since p of Department is < 0.05 H0 is rejected
- ........ and remaining can be concluded as above