In [9]:
import pandas as pd

In [25]:
dataset = pd.read_csv("general_data.csv")

In [26]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [27]:
# checking for null values
dataset.replace(to_replace=['NA',],value=[0],inplace = True)
dataset.isnull()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [30]:
# Dropping rows if any element of row has null value
dataset = dataset.dropna()
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [31]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

> Now we go with our main objective to compare attrition with remaining fields

In [32]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [33]:
print("Attrition:",dataset.Attrition.unique())
print("BusinessTravel:",dataset.BusinessTravel.unique())
print("Department:",dataset.Department.unique())
print("EducationField:",dataset.EducationField.unique())
print("Gender:",dataset.Gender.unique())
print("JobRole:",dataset.JobRole.unique())
print("MaritalStatus:",dataset.MaritalStatus.unique())
print("Over18:",dataset.Over18.unique())

Attrition: ['No' 'Yes']
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department: ['Sales' 'Research & Development' 'Human Resources']
EducationField: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Gender: ['Female' 'Male']
JobRole: ['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Human Resources' 'Research Director' 'Laboratory Technician'
 'Manufacturing Director' 'Sales Representative' 'Manager']
MaritalStatus: ['Married' 'Single' 'Divorced']
Over18: ['Y']

In [34]:
dataset.replace(to_replace=['Yes','No'],value=[1,0],inplace = True)
dataset.replace(to_replace=['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'],value=[2,1,0],inplace = True)
dataset.replace(to_replace=['Sales', 'Research & Development', 'Human Resources'],value=[2,1,0],inplace = True)
dataset.replace(to_replace=['Life Sciences', 'Other', 'Medical', 'Marketing', 'Technical Degree',
 'Human Resources'],value=[5,4,3,2,1,0],inplace = True)
dataset.replace(to_replace=['Female', 'Male'],value=[1,0],inplace = True)
dataset.replace(to_replace=['Healthcare Representative', 'Research Scientist', 'Sales Executive',
 'Human Resources', 'Research Director', 'Laboratory Technician',
 'Manufacturing Director', 'Sales Representative', 'Manager'],value=[8,7,6,5,4,3,2,1,0],inplace = True)
dataset.replace(to_replace=['Married', 'Single', 'Divorced'],value=[2,1,0],inplace = True)
dataset.replace(to_replace=['Y', 'N'],value=[1,0],inplace = True)

In [35]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,1,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,1,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,1,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,1,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,1,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,2,2,4,3,4,1,4405,1,...,1.0,1,18,8,0,6.0,2,6,1,5
4405,42,0,2,1,5,4,3,1,4406,1,...,3.0,1,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,0,...,2.0,1,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,5,1,4408,0,...,0.0,1,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,0,...,0.0,1,14,8,1,10.0,2,9,7,8

In [36]:
from scipy.stats import pearsonr

In [37]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,1,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,1,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,1,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,1,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,1,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,2,2,4,3,4,1,4405,1,...,1.0,1,18,8,0,6.0,2,6,1,5
4405,42,0,2,1,5,4,3,1,4406,1,...,3.0,1,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,0,...,2.0,1,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,5,1,4408,0,...,0.0,1,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,0,...,0.0,1,14,8,1,10.0,2,9,7,8

In [38]:
dataset.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.025044,-0.012117,0.007376,-0.033900,-0.000243,NaN,0.008105,0.040625,...,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,0.000825,-0.044624,-0.009449,-0.017106,-0.003564,NaN,-0.004621,-0.018396,...,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
BusinessTravel,0.025044,0.000825,1.000000,-0.009163,0.025066,0.003074,-0.036274,NaN,-0.003193,0.038942,...,-0.037516,0.024046,-0.030847,NaN,0.005444,0.033895,-0.041538,-0.015829,-0.033186,-0.023134
Department,-0.012117,-0.044624,-0.009163,1.000000,0.012095,-0.003732,-0.059843,NaN,-0.001500,-0.002680,...,-0.032969,-0.004233,-0.006823,NaN,0.009522,-0.020220,0.012613,0.010096,0.013941,0.016942
DistanceFromHome,0.007376,-0.009449,0.025066,0.012095,1.000000,-0.007491,-0.000158,NaN,-0.000326,0.042610,...,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,0.003074,-0.003732,-0.007491,1.000000,0.016748,NaN,-0.009389,0.017671,...,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EducationField,-0.000243,-0.003564,-0.036274,-0.059843,-0.000158,0.016748,1.000000,NaN,-0.003493,0.012203,...,0.019137,0.006447,0.037620,NaN,-0.016270,0.003132,0.026422,0.012608,-0.022258,0.023897
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.003193,-0.001500,-0.000326,-0.009389,-0.003493,NaN,1.000000,0.012812,...,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
Gender,0.040625,-0.018396,0.038942,-0.002680,0.042610,0.017671,0.012203,NaN,0.012812,1.000000,...,-0.006805,0.066860,-0.013207,NaN,-0.022043,0.028251,0.032597,0.018659,0.023018,-0.002688
JobLevel,-0.001137,-0.012382,0.045873,0.004290,-0.039990,0.045822,-0.004704,NaN,-0.003090,0.026019,...,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
JobRole,-0.022923,0.033642,-0.019420,0.020453,-0.007348,-0.030595,-0.001781,NaN,-0.000924,-0.028853,...,-0.009914,-0.021390,-0.016651,NaN,0.066059,-0.028666,0.000693,-0.013916,-0.016387,0.044644
MaritalStatus,0.037018,-0.010886,0.068735,-0.060554,0.023454,0.004478,0.039655,NaN,-0.000089,0.036240,...,-0.005445,-0.032513,-0.013213,NaN,-0.030866,0.015853,-0.010044,0.015522,0.036859,0.015154
MonthlyIncome,-0.045163,-0.030160,-0.037516,-0.032969,-0.022757,0.007289,0.019137,NaN,0.007865,-0.006805,...,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,0.024046,-0.004233,-0.014449,-0.016210,0.006447,NaN,0.000719,0.066860,...,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,-0.030847,-0.006823,0.037720,-0.041054,0.037620,NaN,-0.004877,-0.013207,...,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.005444,0.009522,0.009353,0.002386,-0.016270,NaN,-0.013488,-0.022043,...,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.033895,-0.020220,0.009574,-0.009228,0.003132,NaN,-0.001688,0.028251,...,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.041538,0.012613,-0.008957,0.009939,0.026422,NaN,-0.012102,0.032597,...,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,-0.015829,0.010096,0.030746,0.005997,0.012608,NaN,0.004117,0.018659,...,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,-0.033186,0.013941,0.002243,0.023457,-0.022258,NaN,0.000814,0.023018,...,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,-0.023134,0.016942,0.021773,0.005645,0.023897,NaN,0.009079,-0.002688,...,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000

In [39]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [40]:
stat1,p1=pearsonr(dataset.Attrition,dataset.Age)
print(stat1,p1)

-0.15839867954096706 5.1265982193780794e-26

In [41]:
stat2,p2=pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stat2,p2)

-0.009448638515156243 0.5317715668019558

In [47]:
for i in dataset.columns :
    if i not in ['Attrition','EmployeeID','EmployeeCount','StandardHours','NumCompaniesWorked','TotalWorkingYears'] :
        temp,p = pearsonr(dataset.Attrition,dataset[i])
        print(i,end=": ")
        print(temp,p,end="\n\n")

Age: -0.15839867954096706 5.1265982193780794e-26

BusinessTravel: 0.000824797217422824 0.9564704697198688

Department: -0.044623751607530314 0.0031310203124893013

DistanceFromHome: -0.009448638515156243 0.5317715668019558

Education: -0.017106307050278727 0.25757539308157945

EducationField: -0.003564072498535605 0.8135388293463883

Gender: -0.018396425194440912 0.22339966086831062

JobLevel: -0.012381569720790865 0.4125489150380087

JobRole: 0.03364210388009882 0.025947911166360187

MaritalStatus: -0.0108859514716585 0.47126055129955585

MonthlyIncome: -0.030160293808460668 0.045890862744719166

Over18: nan nan

PercentSalaryHike: 0.03315303713546665 0.028192446935106235

StockOptionLevel: -0.008164026684984324 0.588999635831226

TrainingTimesLastYear: -0.04758573693081737 0.0016276603635477602

YearsAtCompany: -0.13300261842521538 9.476118084840815e-19

YearsSinceLastPromotion: -0.03142315056330995 0.03752293607395154

YearsWithCurrManager: -0.15469153690287274 7.105369646771178e-25

- There is no field with perfect positive or negative correlation
- Since p of Age is < 0.05 H0 is rejected and can conclude they are correlated
- Since p of BusinessTravel is > 0.05 H0 is accepted i.e; both are correlated
- Since p of Department is < 0.05 H0 is rejected
- ........ and remaining can be concluded as above

In [48]:
dataset.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.025044,-0.012117,0.007376,-0.033900,-0.000243,NaN,0.008105,0.040625,...,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,0.000825,-0.044624,-0.009449,-0.017106,-0.003564,NaN,-0.004621,-0.018396,...,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
BusinessTravel,0.025044,0.000825,1.000000,-0.009163,0.025066,0.003074,-0.036274,NaN,-0.003193,0.038942,...,-0.037516,0.024046,-0.030847,NaN,0.005444,0.033895,-0.041538,-0.015829,-0.033186,-0.023134
Department,-0.012117,-0.044624,-0.009163,1.000000,0.012095,-0.003732,-0.059843,NaN,-0.001500,-0.002680,...,-0.032969,-0.004233,-0.006823,NaN,0.009522,-0.020220,0.012613,0.010096,0.013941,0.016942
DistanceFromHome,0.007376,-0.009449,0.025066,0.012095,1.000000,-0.007491,-0.000158,NaN,-0.000326,0.042610,...,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,0.003074,-0.003732,-0.007491,1.000000,0.016748,NaN,-0.009389,0.017671,...,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EducationField,-0.000243,-0.003564,-0.036274,-0.059843,-0.000158,0.016748,1.000000,NaN,-0.003493,0.012203,...,0.019137,0.006447,0.037620,NaN,-0.016270,0.003132,0.026422,0.012608,-0.022258,0.023897
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.003193,-0.001500,-0.000326,-0.009389,-0.003493,NaN,1.000000,0.012812,...,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
Gender,0.040625,-0.018396,0.038942,-0.002680,0.042610,0.017671,0.012203,NaN,0.012812,1.000000,...,-0.006805,0.066860,-0.013207,NaN,-0.022043,0.028251,0.032597,0.018659,0.023018,-0.002688
JobLevel,-0.001137,-0.012382,0.045873,0.004290,-0.039990,0.045822,-0.004704,NaN,-0.003090,0.026019,...,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
JobRole,-0.022923,0.033642,-0.019420,0.020453,-0.007348,-0.030595,-0.001781,NaN,-0.000924,-0.028853,...,-0.009914,-0.021390,-0.016651,NaN,0.066059,-0.028666,0.000693,-0.013916,-0.016387,0.044644
MaritalStatus,0.037018,-0.010886,0.068735,-0.060554,0.023454,0.004478,0.039655,NaN,-0.000089,0.036240,...,-0.005445,-0.032513,-0.013213,NaN,-0.030866,0.015853,-0.010044,0.015522,0.036859,0.015154
MonthlyIncome,-0.045163,-0.030160,-0.037516,-0.032969,-0.022757,0.007289,0.019137,NaN,0.007865,-0.006805,...,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,0.024046,-0.004233,-0.014449,-0.016210,0.006447,NaN,0.000719,0.066860,...,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,-0.030847,-0.006823,0.037720,-0.041054,0.037620,NaN,-0.004877,-0.013207,...,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.005444,0.009522,0.009353,0.002386,-0.016270,NaN,-0.013488,-0.022043,...,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.033895,-0.020220,0.009574,-0.009228,0.003132,NaN,-0.001688,0.028251,...,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.041538,0.012613,-0.008957,0.009939,0.026422,NaN,-0.012102,0.032597,...,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,-0.015829,0.010096,0.030746,0.005997,0.012608,NaN,0.004117,0.018659,...,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,-0.033186,0.013941,0.002243,0.023457,-0.022258,NaN,0.000814,0.023018,...,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,-0.023134,0.016942,0.021773,0.005645,0.023897,NaN,0.009079,-0.002688,...,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000